.user-block-container {
  background-color: white;
  padding:1rem;
  border-radius:.5rem;
  margin:.5rem;
  box-shadow:5px 3px 3px rgba(0, 0, 0, 0.404);
  text-align:center;
}


.user-block-container img {
  border-radius:2rem;
  width:1.5rem;
  margin-left:10px;
}

.name {
  background-color:navy;
  width:90%;
  margin:0 auto;
  color:white;
  border-radius:1rem;
  padding:4px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #78C726 !important;
}

header {
  background-color:#2BA9E5;
  padding:5px;
  padding-top:1px;
  padding-bottom:.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.49);
  position:fixed;
  top:0;
  width:100%;
  z-index:4;
  font-size:70%;
}

.duo-container {
  justify-content:center;
  width:90%;
  margin:0 auto !important;
  margin-top:7rem !important;
}

.duo-header img{
  width:2rem;
  margin-right:1%;
}

.duo-header {
  margin-top:.5rem;
  text-align:center;
  color:white;
  font-size:200%;
}

.points {
  font-size:1rem;
  margin-top:.8rem;
}

.leader {
  background-color:#FFC51D;
}

.time-left {
  text-align:center;
  color:white;
  background-color:#9B1B1B;
  padding:.2rem;
  border-radius:2rem;
  padding-left:.8rem;
  padding-right:.8rem;
  width:17em;
  margin:0 auto;  
  margin-top:-.5rem;
}

.points-number {
  background-color:rgb(155, 27, 27);
  width:3rem;
  margin:0 auto;
  color:white;
  border-radius:2rem;
  margin-top:.4rem;
}

@keyframes jiggle {
  0% {margin-top:1rem;}
  50% {margin-top:2rem;}
  75% {margin-top:2.5rem;}
  100% {margin-top:3rem;}
}

.error-box {
  background-color:rgb(174, 33, 33);
  padding:1rem;
  text-align:center;
  color:white;
  border-radius:1rem;
  box-shadow:1px 8px 23px 8px rgba(0, 0, 0, 0.313); 
  width:80%;
  margin-top:3rem;
  animation:jiggle .2s linear;
}

.retry-button {
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.415);
}


/* SPINNER  */

.loader-container {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:4;
}



.lds-roller {
  display: block;
  width: 64px;
  height: 64px;
  margin:0 auto;
  margin-top:10em;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
